/* Global Structure */
.body1 {background:url(./3.jpeg) center 100%;width:100%;#4682B4}
.main {color:white;margin:0 auto; width:900px;position:relative;z-index:2}
/* main layout */
.wrapper {width:100%;overflow:hidden}
a {color:#87cefa;text-decoration:underline;outline:none}
a:hover {text-decoration:none}

#page1 h1 {padding:77px 0 0 20px;}
#page1 .text1 {font-size:300%;font-weight:bold;color:#fff;line-height:1;padding:15px 0 15px 15px}
#page1 .text11 {font-size:150%;font-weight:normal;color:#fff;line-height:2.5;padding:15px 0 15px 15px}
#page1 .text12 {font-size:100%;font-weight:normal;color:#fff;line-height:1;padding:15px 0 15px 15px}
#page1 header p {padding-bottom:50px}
.color1 {color:#fff}
.col1 {width:540px;float:left}

/* content */
#content_top {width:100%;overflow:hidden;padding-bottom:20px}
#content {width:100%;overflow:hidden;padding-bottom:52px}
.pad_left1 {color:#fff;padding-left:37px}
.pad_left2 {color:#fff;padding-left:20px}
.pad_bot1 {color:#fff;padding-bottom:20px}
.pad_bot2 {color:#fff;padding-bottom:10px}
.pad {color:#fff;padding:0 20px}
.colo1{color:#fff}

#menu {float:right;padding-top:30px;padding-bottom:5px}
#menu li {float:left;padding-right:9px;background:url(./images/menu_line.png) right 6px no-repeat;margin-right:8px}
#menu .bg_none {background:none;padding:0;margin:0}
#menu li a {display:block;font-size:16px;font-weight:400;color:#fff;line-height:31px;padding:0 9px;text-decoration:none;position:relative;behavior:url(js/PIE.htc)}
#menu li a:hover, #menu #menu_active a {background:url(./images/menu_bg.gif) top repeat-x #b3b3b3;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:3px 3px 5px #402f55;-moz-box-shadow:3px 3px 5px #402f55;-webkit-box-shadow:3px 3px 5px #402f55;color:#673f85;}
h2 {font-size:28px;font-weight:bold;font-weight:300;;padding:29px 0 27px 0;line-height:38px}
/* footer */
footer {color:white;text-align:center;padding:25px 0 0 0;height:67px}
#footer_menu ul {width:100%;overflow:hidden;text-align:center}
#footer_menu li {display:inline;padding-right:21px;margin-right:20px;overflow:hidden;line-height:42px}
#footer_menu .bg_none {background:none;padding:0;margin:0}
#footer_menu a {display:inline-block;color:black;padding:0 39px;line-height:42px}
/* forms */
.list1 li {line-height:19px;width:100%;overflow:hidden;margin-bottom:14px;background:url(.ne_ver1.gif) 56px 0 repeat-y}
.list1 .box1 {background:url(./bot11.png) 49% no-repeat;float:left;font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#f2f2f2;font-weight:bold;line-height:41px;width:41px;text-align:center;margin-right:35px}
